@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(111, 109, 109); */
  /* border: 1px solid black; */
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-OpenSans {
  font-family: "Open Sans", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para-primero {
  padding: 20px 0;
}

.cards {
  display: flex;

  justify-content: center;

  padding-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 350px;
  padding-bottom: 20px;
  border: 1px solid grey;
}

.img-container {
  height: 300px;
  display: flex;
  align-items: center;
}

.imagen {
  width: 200px;
}
.input {
  width: 50%;
  margin-top: 10px;
}

.btn-verificar {
  width: 200px;
}
.verificar-p {
  margin-top: 20px;
}

.display-none {
  display: none;
}
